@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
body {
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Heebo', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: #000;
    color: #fff;
}

nav ul li {
    padding: 0 15px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.logo img {
    width: 35px;
    padding: 0 8px;
}

.container {
    font-family: 'Heebo', sans-serif;
    min-height: 60.05vh;
    background-color: #000;
    color: #fff;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url("spotify-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.botton {
    position: sticky;
    bottom: 0px;
    height: 120px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myProgressBar {
    width: 80vw;
}

.icons {
    margin-top: 25px;
}

.icons i {
    cursor: pointer
}

.songItemContainer {
    margin-top: 35px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color: #000;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 45px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestemp {
    margin: 0 23px;
}

.timestemp i {
    cursor: pointer;
}